// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#divDesc{
  border: 1px #C8F2C1 solid;
  background-color: #EDF7FF;
  padding: 10px;
}
